{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <h2>Log In</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }} <!-- This will render the fields from the LoginForm -->
                <button type="submit" class="btn-submit">Log In</button>
            </form>

            {% if messages %}
                {% for message in messages %}
                    <div class="error-message">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="alternative-option">
                <p>Don't have an account? <a href="{% url 'signUp' %}">Sign up</a></p>
                <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            </div>
        </div>
    </div>
{% endblock %}



{