{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <h2 class="text-center">Reset Your Password</h2>
            
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}






