{% extends 'base.html' %}

{% block title %}Password Reset Instructions Sent{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <h2 class="text-center">Password Reset Instructions Sent</h2>
            <p>If the email address is registered with us, we've sent password reset instructions to your email address. Please check your inbox.</p>
            
            <p class="text-center">
                <a href="{% url 'logIn' %}" class="btn-link">Back to Login</a>
            </p>
        </div>
    </div>
{% endblock %}


